html{
	margin: 0px;
}
body{
	height: 100%;
	margin: 0;
	padding: 0;
}

ul#actions{
	list-style-type: none;
	border-radius: 4px;
	border: 2px solid white;
	padding-left: 0;
}

li > a{
	text-decoration: none !important;
}
li{
	text-indent: 10px;
	border-radius: 4px;
	padding: 4px;
	transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
}
li:hover{
	background: gray;
}
li:hover > a{
	color:black;
}
li:hover > a:active{
	color: white;
}


a:link:not(.dialog-closer){
	color: gray;
	text-decoration: underline;
	font-size: 18pt;
}
a:visited:not(.dialog-closer){
	color: gray;
}
a:hover:not(.dialog-closer){
	text-decoration: none;
}
a:active:not(.dialog-closer){
	color: white;
}

div#app{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

div#sidebar{
	float: left;
	background: #555;
	height: calc( 100% - 8px );
	border-right: 1px solid black;
	padding: 4px;
}

div#main{
	height: 100%;
	float: right;
	padding: 0;
}

tr.disabled{
	color: lightgrey;
	cursor: default;
	outline: 1px solid red;
}
td:nth-child(odd){
	text-align: right;
}
td:nth-child(even){
	text-align: left;
}
td:first-child:last-child{
	text-align: center;
}