html, body{
	margin: 0;
	padding: 0;
	height: 100%;

	background: gray;

	font-family: "Roboto", Arial, sans-serif;
}

div#sidebar-menu{
	position: fixed;
	width: 30%;
	left: -30%;
	top: 0;
	background-color: #555;

	border-right: 1px solid black;

	z-index: 6;

	text-indent: 15px;

	height: 100%;
	text-align: right;

	font-size: 18pt;

	transition: left .25s cubic-bezier(.17, .67, .83.67);
	-webkit-transition: left .25s cubic-bezier(.25, .17, .25, .83);
}
div#sidebar-menu.visible{
	left: 0;
}
div#sidebar-menu > .title{
	margin-right: 15px;
}
div#sidebar-menu > ul{
	list-style-type: none;
	padding: 0;
	width: 100%;
	text-align: center;
}
div#sidebar-menu > ul > li{
	padding: 15px 0;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;

	cursor: pointer;
}
div#sidebar-menu > ul > li:nth-child( odd ){
	background-color: gray;
	width: 100%;
}

div#menu-button{
	width: 36px;
	height: 36px;
	border-radius: 18px;

	border: none;
	float: left;

	z-index: 7;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;

	cursor: pointer;

	position: fixed;
	top: 20px;
	left: 20px;

	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../img/menu-icon.png');
}
div#results > ul{
	list-style-type: none;
	padding: 0;
	border: 2px solid #999;
}
div#results > ul > li{
	padding: 10px 5px;
	position: relative;
}
div#results > ul > li:nth-child(even){
	background-color: #999;
}
div#results{
	margin: 0 auto;
	width: calc( 90% - 30px);
}

h1{
	text-align: center;
	margin: 0;
	padding: 15px 0;
	vertical-align: middle;
}
h2{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0;
}

div#search{
	margin: 10px;
	text-align: center;
}
input[type="text"].query{
	width: 90%;
	padding: 10px;
	font-size: 18pt;
	text-indent: 25px;

	background-image: url('../img/search.png');
	background-repeat: no-repeat;
	background-position: 10px;
}

button.right{
	display: inline-block;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY( -50% );
	-webkit-transform: translateY( -50% );
}

/* START SECTION -- Dialog Styling */

app5-dialog#PublicWatch, app5-dialog#PrivateWatch{
	min-width: 250px;
	min-height: 125px;
}
app5-dialog#PublicWatch > div.dialog-content, app5-dialog#PrivateWatch >  div.dialog-content{
	margin: 15px;
}

img.dialog-closer{
	cursor: pointer;
}

.dialog-content > div, .dialog-content > form > div{
	margin-bottom: 5px;
}

/* END SECTION -- Dialog Styling */