/* Special Style overrides for 1024 x 768 Size Screens */

#timer-info{
    display: none;
    visibility: hidden;

    position: absolute;
    height: 0;
    width: 0;
    bottom: 0;
}

footer#footer{      /* Need specific selector to override defaults here */
    position: fixed;
    bottom: 0;

    width: 100%;

    visibility: visible;
    display: block;

    text-align: center;
    padding-bottom: 15px;
}