<!DOCTYPE html>
<html ng-app="home" ng-controller="Manager">
	<head>
		<title>quizbowl.us home</title>
		<link rel="stylesheet" href="css/Universal.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/ui.css" />

		<script src="js/angular.min.js"></script>
		<script src="js/app5/App5.js"></script>
		<script>
			APP5_PATH = 'js/app5';
		</script>
		<script src="js/global.js"></script>
		<script src="js/index.js"></script>
	</head>
	<body>
		<div id="app">
			<div id="menu-button" ng-click="ToggleMenu()"></div>
			<div id="sidebar-menu" ng-class="{ visible: MenuShowing }">
				<h3 class="title">quizbowl.us home</h3>
				<ul>
					<li onclick="PublicWatch.show()" ng-click="MenuShowing = false">Watch Public Competition</li>
					<li onclick="PrivateWatch.show()" ng-click="MenuShowing = false">Watch Private Competition</li>
					<li onclick="Create.show()" ng-click="MenuShowing = false">Create a Competition</li>
					<li onclick="location.assign('scoreboard.html')">Use Scoreboard Application</li>
				</ul>
			</div>
			<div id="main">
				<h1>quizbowl.us home</h1>
				<div id="search">
					<input type="text" ng-model="Search.Query" placeholder="Search Competitions..." class="query" />
				</div>
				<h2>Competitions on quizbowl.us now</h2>
				<div id="results">
					<ul ng-show="Search.Results.length">
						<li ng-repeat="result in Search.Results = (Competitions | filter:Search.Query)">
							{{ result[1] }}<button class="right" ng-click="WatchGame(result[0])">Watch</button>
						</li>
					</ul>
					<div ng-show="Search.Results.length == 0" id="no-results">
						~No results.~
					</div>
				</div>
			</div>
		</div>
		<app5-modal>
			<app5-dialog id="PublicWatch">
				<div class="dialog-title">
					Watch Public Competition
					<img class="dialog-closer" src="img/x.png" alt="X" onclick="PublicWatch.close()" />
				</div>
				<div class="dialog-content">
					<div>
						Game:
						<select ng-options="opt[0] as opt[1] for opt in Competitions" ng-model="SelectedCompetition"></select>
					</div>
					<button ng-click="WatchGame()" type="submit" class="submit-right">Watch</button>
				</div>
			</app5-dialog>
			<app5-dialog id="PrivateWatch">
				<div class="dialog-title">
					Watch Private Competition
					<img class="dialog-closer" src="img/x.png" alt="X" onclick="Application.PrivateWatch.close()" />
				</div>
				<div class="dialog-content">
					<form method="GET" action="watch.html">
						<div>
							<label>Access ID:</label><input type="text" name="competition" />
						</div>
						<button type="submit" class="submit-right">Watch</button>
					</form>
				</div>
			</app5-dialog>
			<app5-dialog id="Create">
				<div class="dialog-title">
					Create Competition
					<img class="dialog-closer" src="img/x.png" alt="X" onclick="Application.Create.close()" />
				</div>
				<div class="dialog-content">
					<form ng-submit="CreateCompetition()">
						<table>
							<tbody>
								<tr>
									<td>Name:</td>
									<td><input type="text" ng-model="NewCompetition.Name" required /></td>
								</tr>
								<tr>
									<td>Access ID:</td>
									<td><input type="text" ng-model="NewCompetition.ID" required /></td>
								</tr>
								<tr>
									<td>Password to Participate:</td>
									<td><input type="password" ng-model="NewCompetition.Password" required /></td>
								</tr>
								<tr>
									<td>Public Competition?</td>
									<td><input type="checkbox" ng-model="NewCompetition.ispublic" /></td>
								</tr>
								<tr ng-show="!NewCompetition.ispublic">
									<td><a title="Password required to view a private competition.">View Key:</a></td>
									<td><input type="password" ng-model="NewCompetition.viewkey" ng-disabled="NewCompetition.ispublic" ng-required="!NewCompetition.ispublic" /></td>
								</tr>
							</tbody>
						</table>
						<button type="submit" class="submit-right">OK</button>
					</form>
				</div>
			</app5-dialog>
			<app5-dialog id="Progress">
				<div class="dialog-title">
					Progress
				</div>
				<div class="dialog-content">
					Please Wait...<br />
					<progress></progress>
				</div>
			</app5-dialog>
			<app5-dialog id="Created">
				<div class="dialog-title">
					Competition Created
					<img class="dialog-closer" src="img/x.png" alt="X" onclick="Created.close()" />
				</div>
				<div class="dialog-content">
					You have successfully created a competition. Here are the details:
					<table class="display">
						<tbody>
							<tr>
								<td>Competition Name:</td>
								<td>{{ CreationData.Name }}</td>
							</tr>
							<tr>
								<td>Access ID:</td>
								<td>{{ CreationData.ID }}</td>
							</tr>
							<tr>
								<td>Password:</td>
								<td>{{ CreationData.Password }}</td>
							</tr>
							<tr>
								<td>Public:</td>
								<td>{{ CreationData.Public }}</td>
							</tr>
							<tr ng-show="!CreationData.Public">
								<td>View Key:</td>
								<td>{{ CreationData.ViewKey }}</td>
							</tr>
						</tbody>
					</table>
					<h3>We recommend that you keep this data somewhere safe.</h3>
					<button onclick="Application.Created.close()">OK</button>
				</div>
			</app5-dialog>
		</app5-modal>
	</body>
</html>